altgraph==0.17
AnyQt==0.0.13
asgiref==3.2.10
astroid==2.4.2
auto-py-to-exe==2.11.0
baycomp==1.0.2
bottle==0.12.19
bottle-websocket==0.2.9
Bottleneck==1.3.2
CacheControl==0.12.10
certifi==2020.6.20
cffi==1.14.6
chardet==3.0.4
colorama==0.4.3
commonmark==0.9.1
contextvars==2.4
cycler==0.10.0
decorator==4.4.2
dictdiffer==0.9.0
dj-database-url==0.5.0
Django==3.0.7
django-heroku==0.3.1
docx==0.2.4
Eel==0.12.4
et-xmlfile==1.0.1
future==0.18.2
gevent==21.8.0
gevent-websocket==0.10.1
greenlet==1.1.2
gunicorn==20.0.4
h11==0.9.0
html5lib==1.1
httpcore==0.10.2
httpx==0.14.3
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
immutables==0.16
importlib-metadata==4.8.2
isort==4.3.21
jdcal==1.4.1
joblib==1.1.0
keyring==23.4.1
keyrings.alt==4.1.0
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lockfile==0.12.2
lxml==4.5.1
mccabe==0.6.1
moviepy==1.0.3
msgpack==1.0.3
mysqlclient==2.0.1
networkx==2.5.1
openTSNE==0.6.1
orange-canvas-core==0.1.24
orange-widget-base==4.16.1
Orange3==3.27.1
pefile==2019.4.18
Pillow==7.1.2
proglog==0.1.9
psycopg2==2.8.5
pycparser==2.20
PyDocX==0.9.10
Pygments==2.10.0
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.3
PyJWT==2.3.0
pylint==2.5.3
pylint-django==2.1.0
pylint-plugin-utils==0.6
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqtgraph==0.11.1
PyQtWebEngine==5.15.5
PyQtWebEngine-Qt5==5.15.2
python-dateutil==2.8.1
python-louvain==0.15
PyYAML==6.0
qasync==0.22.0
requests==2.24.0
rfc3986==1.5.0
serverfiles==0.3.1
six==1.15.0
sniffio==1.2.0
soupsieve==2.0.1
sqlparse==0.3.1
threadpoolctl==3.0.0
toml==0.10.1
tqdm==4.56.2
typed-ast==1.4.1
typing_extensions==4.0.0
urllib3==1.25.9
webencodings==0.5.1
whichcraft==0.6.1
whitenoise==5.1.0
wrapt==1.12.1
xlrd==1.2.0
XlsxWriter==3.0.2
zipp==3.6.0
zope.event==4.5.0
zope.interface==5.4.0
