{%extends "template/default.html"%}
{%block main%}
<div class="container-fluid px-4">
    <h1 class="mt-4">{{title}}</h1>
    <h6 class="mt-1">data per tanggal {{per_tanggal}}</h6>
    <div class="card mb-4">
        <form method="POST">
            {%csrf_token%}
            {% comment %} <label class="form-label">Awal Periode</label>
            <input name="periode_awal" type="date" timezone="id" ><br> {% endcomment %}
            <label class="form-label">Tanggal</label>
            <input name="tanggal" type="date"><br>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>
    <div class="card mb4 table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead class="align-middle">
                <tr class="table-dark">
                    <th>No</th>
                    <th>Kejadian Risiko</th>
                    <th>Indikator Risiko Utama</th>
                    {% comment %} <th>Batas Aman</th>
                    <th>Batas Bawah</th> {% endcomment %}
                    <th>Bidang Pengampu</th>
                    <th>Besaran Risiko Awal</th>
                    <th>Besaran Risiko Residual Diharapkan</th>
                    <th>Besaran Risiko Aktual</th>
                    <th>Nilai Aktual</th>
                    <th>Status</th>
                    <th>Per Tanggal</th>
                </tr>
            </thead>
            <tbody class="align-middle">
                {%for x in IRU%}
                <tr class="table-active">
                    <td class="nomor"></td>
                    <td>{{x.iru.kejadian_risiko}}</td>
                    <td><a href="indikator_risiko_utama/{{x.iru.id}}" class="link-dark" target="_blank">{{x.iru.nama_indikator}}</a></td>
                    {% comment %} <td>{{iru.batas_aman}}</td>
                    <td>{{iru.batas_bawah}}</td> {% endcomment %}
                    <td>{{x.pengampu.unit_es3}}</td>
                    <td>{{x.iru.besaran_awal}}</td>
                    <td>{{x.iru.besaran_residual}}</td>
                    <td>{{x.nilai_aktual.besaran_risiko}}</td>
                    <td>{{x.nilai_aktual.nilai_aktual_IRU}}</td>
                    <td>{{x.status}}</td>
                    <td>{{x.nilai_aktual.tanggal_aktual}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{%endblock%}

{%block script%}
<script>
    let nomor = document.getElementsByClassName("nomor")
    for (let i = 0; i < nomor.length; i ++){
        nomor[i].innerHTML = i + 1
    }
</script>
{% endblock %}