{%extends "template/default.html"%}
{%block main%}
<div class="container-fluid px-4">
    <h1 class="mt-4">{{title}}</h1>
    <div class="card mb-4">
        <form method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            {% comment %} <label>Awal Periode</label>
            <input name="periode_awal" type="date" timezone="id"><br>
            <label>Akhir Periode</label>
            <input name="periode_akhir" type="date"><br> {% endcomment %}
            <label>Csv Indikator Risiko Utama</label>
            <input name="csv_indikator_risiko" type="file"><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
{%endblock%}