{%extends "template/default.html"%}
{%block main%}
<div class="container-fluid px-4">
    <h1 class="mt-4">{{title}}</h1>
    <div class="card mb-4">
        <form method="POST">
            {%csrf_token%}
            <input name="form" value="Tambah Device" hidden>
            <label class="form-label">No BMN</label>
            <input name="noBMN" type="text"></br>
            <label class="form-label">Jenis</label>
            <input name="jenis" type="text"></br>
            <label class="form-label">Keterangan</label>
            <input name="keterangan" type="text"></br>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>
</div>
{%endblock%}